<div class="row edit-profile-wrapper">
  <div class="col-sm-3 left-col">
    <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action">Edit Profile</a>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "list-group-item list-group-item-action" %>
    </div>
  </div>
  <div class="col-sm-9 right-col">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render 'shared/devisemes' %>

      <div class="row username-img">
        <div class="col-sm-3 text-right">
        <%= image_tag "default-user.png", width: '38', height: '38', class: "round-img" %>
        </div>
        <div class="col-sm-9">
          <p><%= @user.name %></p>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :name, class: "col-sm-3 col-form-label text-right font-weight-bold" %>
        <div class="col-sm-9">
          <%= f.text_field :name, autofocus: true, class: "form-control col-sm-9" %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :email, class: "col-sm-3 col-form-label text-right font-weight-bold" %>
        <div class="col-sm-9">
          <%= f.email_field :email, class: "form-control col-sm-9" %>
        </div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-group row">
        <%= f.label :password, class: "col-sm-3 col-form-label text-right font-weight-bold" %>
        <div class="col-sm-9">
          <%= f.password_field :password, autocomplete: "off", class: "form-control col-sm-9", placeholder: "Leave blank if you don't want to change it" %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :password_confirmation, class: "col-sm-3 col-form-label text-right font-weight-bold" %><br />
        <div class="col-sm-9">
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control col-sm-9" %>
        </div>
      </div>

      <div class="form-group row">
        <%= f.label :image, class: "col-sm-3 col-form-label text-right font-weight-bold" %>

        <div class="col-sm-9">
          <% if current_user.image.url.present? %>
          <div class="row">
            <div class="col-sm-2"></div>
            <%= f.label :remove_image, class: "col-sm-10" do %>
                  Remove current profile picture?
                  <%= f.check_box :remove_image %>
            <% end %>
          </div>
          <% end %>

          <div class="row">
            <%= f.file_field :image, class: "col-sm-9", onchange: "readURL(this);"%>
            <%= f.hidden_field :image_cache, class: "col-sm-3"%>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-3"></div>
        <div class="col-sm-9">
          <%= f.submit "Update", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    reader.onload = function (e) {
      $('#user_image')
        .attr('src', e.target.result);
    };
    reader.readAsDataURL(input.files[0]);
  }
}
</script>
