<div class="row justify-content-md-center profile-wrapper">
  <div class="col-md-4 text-center">
    <% if current_user.image.url.present? %>
      <%= image_tag (current_user.image.url), class: "rounded-circle img-responsive", alt: "Profile pic", id: "user_image", style: "width: 152px; height: 152px;" %>
    <% else %>
      <%= image_tag ("default-user.png"), class: "rounded-circle img-responsive", alt: "Profile pic", id: "user_image", style: "width: 152px; height: 152px;" %>
    <% end %>
  </div>
  <div class="col-md-8">
    <div class="row">
      <h3><strong><%= @user.name || ""%></strong></h3>
      <% if @user == current_user %>
        <%=  link_to "Edit Profile", edit_user_registration_path, class: "btn btn-outline-dark common-btn edit-profile-btn" %>
        <button type="button" class="core-sprite setting" data-toggle="modal" data-target="#exampleModal">
        </button>
      <% end %>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Settings</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="list-group text-center">
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "list-group-item list-group-item-action" %>
              <a href="#" class="list-group-item list-group-item-action" data-dismiss="modal">Cancel</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <p class="email"><%= @user.email %></p>
    </div>
  </div>
</div>

<div style="padding: 10px; margin: auto;">
  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="pills-like-tab" data-toggle="pill" href="#pills-like" role="tab" aria-controls="pills-like" aria-selected="true">Like</a>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-like" role="tabpanel" aria-labelledby="pills-like-tab">
      <div class="row">
        <% @liked.each do |like| %>
          <div class="col-lg-3 col-sm-6">
            <div class="product-item">
              <div class="pi-pic">
                <%= link_to image_tag(like.product.image.split(/,/).first, class: "image-product"), product_path(like.product.id) %>
                <div class="pi-links">
                  <a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
                </div>
              </div>
              <div class="pi-text">
                <h6><%= like.product.discounted_price %>$</h6>
                <p><%= like.product.product_name %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
