<header class="header-section">
  <div class="header-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 text-center text-lg-left">
          <a href="/" class="site-logo">
            <h2>Home</h2>
          </a>
        </div>
        <div class="col-xl-6 col-lg-5">
          <form class="header-search-form">
            <input type="text" placeholder="Search on divisima ....">
            <button><i class="flaticon-search"></i></button>
          </form>
        </div>
        <div class="col-xl-4 col-lg-5">
          <div class="user-panel">
            <div class="up-item">
              <i class="flaticon-profile"></i>
              <% if user_signed_in? %>
                <%= link_to "#{current_user.email}", user_path(current_user) %>
              <% else %>
                <%= link_to "Sign In", new_user_session_path %> or <%= link_to "Create Account", new_user_registration_path %>
              <% end %>
            </div>
            <div class="up-item">
              <div class="shopping-card" id="cart-header">
                <%= render "shared/cart_header" %>
              </div>
              <%= link_to "Shopping Cart", cart_path(current_cart) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="main-navbar">
    <div class="container">
      <!-- menu -->
      <ul class="main-menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">Women</a></li>
        <li><a href="#">Men</a></li>
        <li><a href="#">Jewelry
          <span class="new">New</span>
        </a></li>
        <li><a href="#">Shoes</a>
          <ul class="sub-menu">
            <li><a href="#">Sneakers</a></li>
            <li><a href="#">Sandals</a></li>
            <li><a href="#">Formal Shoes</a></li>
            <li><a href="#">Boots</a></li>
            <li><a href="#">Flip Flops</a></li>
          </ul>
        </li>
        <li><a href="#">Pages</a>
          <ul class="sub-menu">
            <li><a href="#">Product Page</a></li>
            <li><a href="#">Category Page</a></li>
            <li><a href="#">Cart Page</a></li>
            <li><a href="#">Checkout Page</a></li>
            <li><a href="#">Contact Page</a></li>
          </ul>
        </li>
        <li><a href="#">Blog</a></li>
      </ul>
    </div>
  </nav>
</header>
