<header class="header-section">
  <div class="header-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 text-center text-lg-left">
          <a href="/" class="site-logo">
            <h2>Home</h2>
          </a>
        </div>
        <div class="col-xl-6 col-lg-5">
          <!-- <form class="header-search-form">
            <input type="text" placeholder="Search on product...">
            <button><i class="flaticon-search"></i></button>
          </form> -->
          <!-- <form class="header-search-form"> -->
          <div class="header-search-form">
            <%= form_for :term, url: search_path, method: :get do |form| %>
              <%= text_field_tag :term, params[:term], placeholder: "Search on product..." %>
              <button><i class="flaticon-search"></i></button>
            <% end %>
          </div>
          <!-- </form> -->
        </div>
        <div class="col-xl-4 col-lg-5">
          <div class="user-panel">
            <div class="up-item">
              <i class="flaticon-profile"></i>
              <% if user_signed_in? %>
                <%= link_to "#{current_user.email}", user_path(current_user) %>
              <% else %>
                <%= link_to "Sign In", new_user_session_path %> or <%= link_to "Create Account", new_user_registration_path %>
              <% end %>
            </div>
            <div class="up-item">
              <div class="shopping-card" id="cart-header">
                <%= render "shared/cart_header" %>
              </div>
              <%= link_to "Shopping Cart", cart_path(current_cart) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="main-navbar">
    <div class="container">
      <!-- menu -->
      <ul class="main-menu">
        <li><a href="/">Home</a></li>
        <li><%= link_to "Women", product_for_women_path %></li>
        <li><%= link_to "Men", product_for_men_path %></li>
        <!-- <li><a href="#">Jewelry
          <span class="new">New</span>
        </a></li> -->
        <li><a href="#">HOTS</a>
          <ul class="sub-menu">
            <li><%= link_to "Sneakers", sneakers_product_path %></li>
            <li><%= link_to "Sandals", sandals_product_path %></li>
            <li><%= link_to "Formal Shoes", shoes_product_path %></li>
            <li><%= link_to "Boots", boots_product_path %></li>
            <li><%= link_to "Flip Flops", flip_flops_product_path %></li>
          </ul>
        </li>

        <% if user_signed_in? %>
          <li><%= link_to "Chat with other users", chat_path %></li>

          <li style="float: right;">
            <%= link_to purchase_history_path do %>
              <i class="flaticon-bag"></i>Purchase History
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>
