<p>
  <strong>Name:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @order.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @order.email %>
</p>

<p>
  <strong>Pay type: Paypal</strong>
</p>

<p>
  <strong>Trasaction_id:</strong>
  <%= @order.transaction_id %>
</p>

<p>
  <strong>Purchased_at:</strong>
  <%= @order.purchased_at %>
</p>
