<%= form_with(model: @cart, local: true) do |form| %>
  <% if @cart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cart.errors.count, "error") %> prohibited this cart from being saved:</h2>

      <ul>
      <% @cart.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="page-top-info">
    <div class="container">
      <h4>Your cart</h4>
      <div class="site-pagination">
        <a href="">Home</a> /
        <a href="">Your cart</a>
      </div>
    </div>
  </div>
  <!-- Page info end -->


  <!-- cart section end -->
  <section class="cart-section spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="cart-table">
            <h3>Edit Your Cart</h3>
            <div class="cart-table-warp">
              <table>
                <thead>
                  <tr>
                    <th class="product-th">Product</th>
                    <th class="quy-th">Quantity</th>
                    <th class="size-th">Size</th>
                  </tr>
                </thead>
                <tbody>
                  <% @cart.line_items.each do |line_item| %>
                    <tr>
                      <td class="product-col">
                        <img><%= image_tag(line_item.product.image.split(/,/).first) %>
                        <div class="pc-title">
                          <h4><%= line_item.product.product_name %></h4>
                          <p>$<%= line_item.price_unit %></p>
                        </div>
                      </td>
                      <td class="quy-col">
                        <div class="quantity">
                          <div class="pro-qty">
                            <input type="text" value="<%= line_item.quantity %>">
                          </div>
                        </div>
                      </td>
                      <td class="size-col"><h4>Size M</h4></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
            <div>
              <%= form.submit %>
            </div>
          </div>
        </div>
        <div class="col-lg-4 card-right">
          <%= button_to 'Empty cart', @cart, class: "site-btn sb-dark", :method => :delete, data: {:confirm => 'Are you sure?' } %>
          <%= button_to 'Checkout', new_order_path, :method => :get, class: "site-btn" %>
          <a href="/" class="site-btn sb-dark">Continue shopping</a>
        </div>
      </div>
    </div>
  </section>
  <!-- cart section end -->

  <!-- Related product section -->
  <section class="related-product-section">
    <div class="container">
      <div class="section-title text-uppercase">
        <h2>Continue Shopping</h2>
      </div>
      <div class="row">
        <% 4.times do %>
          <%= render "products/random_product", {product: random_product } %>
        <% end %>
      </div>
    </div>
  </section>

<% end %>
