<div class="row">
  <div class="col-9">
    <h3 class="text-center">Products for Sale</h3>

    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <% @products[0..10].each do |product| %>
          <%= render "product_row", product: product, order_item: @order_item %>
        <% end %>
      </div>
    </div>

  </div>

  <div class="col-3">
    <h1>Top</h1>
    <div class="card border-primary mb-3" style="max-width: 18rem;">
      <%= link_to image_tag("http://img6a.flixcart.com/image/sofa-bed/j/f/y/fhd112-double-foam-fabhomedecor-leatherette-black-leatherette-1100x1100-imaeh3gemjjcg9ta.jpeg", class: "card-img-top", style: "width: 240px; height: 160px"), product_path(@products.first) %>
      <div class="card-body">
        <h5 class="card-title"><%= @products.first.product_name %></h5>
        <p class="product-description"><%= @products.first.description %></p>
      </div>
      <div class="card-footer">
        <small class="text-muted"><%= @products.first.discounted_price %></small>
      </div>
    </div>

    <div class="card border-primary mb-3" style="max-width: 18rem;">
      <%= link_to image_tag("http://img6a.flixcart.com/image/sofa-bed/j/f/y/fhd112-double-foam-fabhomedecor-leatherette-black-leatherette-1100x1100-imaeh3gemjjcg9ta.jpeg", class: "card-img-top", style: "width: 240px; height: 160px"), product_path(@products.first) %>
      <div class="card-body">
        <h5 class="card-title"><%= @products.first.product_name %></h5>
        <p class="product-description"><%= @products.first.description %></p>
      </div>
      <div class="card-footer">
        <small class="text-muted"><%= @products.first.discounted_price %></small>
      </div>
    </div>
  </div>
</div>
