<div class="row">
  <div class="col-9">
    <h1>All Products</h1>

    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
        <li class="page-item"><%= link_to_prev_page @products, "Previous", class: "page-link" %></li>
        <li class="page-item"><%= link_to_next_page @products, "Next", class: "page-link" %></li>
      </ul>
    </nav>

    <div class="card-group">
      <% @products.each do |product| %>
        <%= render "product", { product: product} %>
      <% end %>
    </div>

    <% if user_signed_in? %>
      <h1>Recommended products for you</h1>
      <div class="card-group">
        <% current_user.recommend_products[0..3].each do |key, value| %>
          <%= render "product", { product: key} %>
        <% end %>
      </div>
    <% end %>

  </div>

  <div class="col-3">
    <h1>Top rate</h1>
    <%= render "top_review" %>
  </div>
</div>
