<div class="page-top-info">
  <div class="container">
    <h4>Category PAge</h4>
    <div class="site-pagination">
      <%= @product.product_category_tree %>
    </div>
  </div>
</div>
<!-- Page info end -->


<!-- product section -->
<section class="product-section">
  <div class="container">
    <div class="back-link">
      <a href="/"> &lt;&lt; Back to Category</a>
    </div>
    <div class="row">
      <div class="col-lg-6">

        <div class="product-item">
          <div class="pi-pic">
            <div class="product-pic-zoom">
              <img><%= image_tag(@product.image.split(/,/).first, class: "product-big-img") %>
            </div>
            <div class="pi-links">
            <div class="product-like" id="like-icon-product-<%= @product.id.to_s %>">
                <%= render "like_icon", {is_liked: @product.is_liked(current_user), product: @product} %>
              </div>
            </div>
          </div>
        </div>

        <div class="product-thumbs" tabindex="1" style="overflow: hidden; outline: none;">
          <div class="product-thumbs-track">
            <div class="pt active" data-imgbigurl="<%= @product.image.split(/,/).first %>"><img><%= image_tag(@product.image.split(/,/).first) %></div>

            <% @product.image.split(/,/)[1..@product.image.split(/,/).size].each do |a| %>
            <div class="pt" data-imgbigurl="<%= a %>"><img><%= image_tag(a) %></div>
            <% end %>

          </div>
        </div>
      </div>
      <div class="col-lg-6 product-details">
        <h2 class="p-title"><%= @product.product_name %></h2>
        <h3 class="p-price">$<%= @product.discounted_price %></h3>
        <h4 class="p-stock">Available: <span>In Stock</span></h4>
        <div class="p-rating">
          <% @product.overall_rating.to_i.times do %>
          <i class="fa fa-star-o"></i>
          <% end %>
          <% (5- @product.overall_rating.to_i).times do %>
          <i class="fa fa-star-o fa-fade"></i>
          <% end %> | <%= @product.overall_rating || 0 %>
        </div>


        <div class="p-review">
          <a data-toggle="modal" data-target="#exampleModalScrollable">
            <%= @product.reviews.size %> reviews
          </a>

          <!-- Modal -->
          <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalScrollableTitle">REVIEWS</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <% if @reviews.size == 0 %>
                    No reivews
                  <% else %>
                    <% @reviews.each do |review| %>
                      <div class="reviews">
                        <strong><%= review.user.email %></strong>
                        <div class="star-rating" data-score= <%= review.product_rating %> ></div>
                        <p><%= review.comment %></p>
                      </div>
                    <% end %>
                  <% end %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

          <% if user_signed_in? %>
            <% if !Review.find_by(user_id: current_user.id, product_id: @product.id) %>
              | <%= link_to "Add your review", new_product_review_path(@product) %>
            <% end %>
          <% end %>
        </div>
        <div class="fw-size-choose">
          <p>Size</p>
          <div class="sc-item">
            <input type="radio" name="sc" id="xs-size">
            <label for="xs-size">32</label>
          </div>
          <div class="sc-item">
            <input type="radio" name="sc" id="s-size">
            <label for="s-size">34</label>
          </div>
          <div class="sc-item">
            <input type="radio" name="sc" id="m-size" checked="">
            <label for="m-size">36</label>
          </div>
          <div class="sc-item">
            <input type="radio" name="sc" id="l-size">
            <label for="l-size">38</label>
          </div>
          <div class="sc-item disable">
            <input type="radio" name="sc" id="xl-size" disabled>
            <label for="xl-size">40</label>
          </div>
          <div class="sc-item">
            <input type="radio" name="sc" id="xxl-size">
            <label for="xxl-size">42</label>
          </div>
        </div>
        <div class="quantity">
          <p>Quantity</p>
          <div class="pro-qty">
            <span class="dec qtybtn">-</span>
            <input type="text" value="1">
            <span class="dec qtybtn">+</span>
          </div>
        </div>
        <a href="#" class="site-btn">SHOP NOW</a>
        <div id="accordion" class="accordion-area">
          <div class="panel">
            <div class="panel-header" id="headingOne">
              <button class="panel-link active" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">information</button>
            </div>
            <div id="collapse1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="panel-body">
                <p><%= @product.description %></p>
              </div>
            </div>
          </div>
          <div class="panel">
            <div class="panel-header" id="headingTwo">
              <button class="panel-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">care details </button>
            </div>
            <div id="collapse2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="panel-body">
                <img src="<%= image_path("cards.png") %>">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra tempor so dales. Phasellus sagittis auctor gravida. Integer bibendum sodales arcu id te mpus. Ut consectetur lacus leo, non scelerisque nulla euismod nec.</p>
              </div>
            </div>
          </div>
          <div class="panel">
            <div class="panel-header" id="headingThree">
              <button class="panel-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">shipping & Returns</button>
            </div>
            <div id="collapse3" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="panel-body">
                <h4>7 Days Returns</h4>
                <p>Cash on Delivery Available<br>Home Delivery <span>3 - 4 days</span></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin pharetra tempor so dales. Phasellus sagittis auctor gravida. Integer bibendum sodales arcu id te mpus. Ut consectetur lacus leo, non scelerisque nulla euismod nec.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="social-sharing">
          <a href=""><i class="fa fa-google-plus"></i></a>
          <a href=""><i class="fa fa-pinterest"></i></a>
          <a href=""><i class="fa fa-facebook"></i></a>
          <a href=""><i class="fa fa-twitter"></i></a>
          <a href=""><i class="fa fa-youtube"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>
